/* Estilos dos cartões */
.challenge-card {
  background-color: #2c313a;
  border: 1px solid #444;
  transition: transform 0.2s, background-color 0.2s;
  margin-bottom: 20px;
  border-radius: 8px;
  height: 270px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.challenge-card:hover {
  transform: scale(1.02);
  background-color: #353a45;
}

/* Área do corpo com rolagem */
.challenge-card .card-body {
  color: #abb2bf;
  padding: 1rem;
  overflow-y: auto;
  flex-grow: 1;
  scrollbar-width: thin;
  scrollbar-color: #444 #2c313a;
}

/* Barra de rolagem para navegadores baseados em WebKit */
.challenge-card .card-body::-webkit-scrollbar {
  width: 8px;
}

.challenge-card .card-body::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 4px;
}

.challenge-card .card-body::-webkit-scrollbar-track {
  background-color: #2c313a;
}

.challenge-card .card-header {
  background-color: #282c34;
  border-bottom: 1px solid #444;
  color: #61afef;
  padding: 1rem;
  border-radius: 8px 8px 0 0;
}

.challenge-card h3 {
  font-size: 1.3rem;
  margin: 0;
  color: #61afef;
}

.challenge-card ul {
  padding-left: 20px;
  color: #d4d4d4;
}

.code-example {
  margin: 1rem 0;
  background-color: #1e1e1e;
  border-radius: 4px;
  border: 1px solid #444;
  padding: 0.5rem 1rem;
}

.code-header {
  background-color: #282c34;
  padding: 0.5rem 1rem;
  font-family: monospace;
  color: #abb2bf;
  border-bottom: 1px solid #444;
  border-radius: 4px 4px 0 0;
}

.sample-input,
.sample-output {
  padding: 0.5rem 1rem;
  margin: 0;
  background-color: #1e1e1e;
  color: #d4d4d4;
  font-family: monospace;
  white-space: pre-wrap;
  border-radius: 0 0 4px 4px;
}

.sample-input {
  color: #98c379;
  border-bottom: 1px dashed #444;
}
